/* GtDocgen Example CSS */

body {
	background-color: #e5e5e5;
	background-image: url("genero_green_transparent.png");
}

h1 {
	color: #a2c511;
	font-size: xxx-large;
	font-weight: bold;
	text-align: center;
}

h2 {
	color: #a2c511;
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-size: x-large;
	font-weight: bold;
}

table {
	width: 100%;
	table-layout: automatic;
    background-color: #e5e5e5;
}

th {
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	background-color: #a2c511;
}

td {
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

div.title {
	text-align: center;
}

table.index {
}

th.index {
	text-align: center;
}

table.parameter {
	margin: auto;
}

table.returnvalue {
	margin: auto;
}

th.parameter {
	text-align: center;
}

th.returnvalue {
	text-align: center;
}

code.function {
	color: green;
}

code.parameter {
	color: purple;
}

code.returnvalue {
	color: purple;
}

div.footer {
	color: red;
	text-align: center;
}
